<h1>Publish New Article</h1>
<form method="POST" action="/articles">
  <label for="Article_Title">Article Title:</label><br>
  <input id="Article_Title"  type="text" name="title">
  <label for="Article_Content">Article Content:</label><br>
  <input id="Article_Content"  type="text" name="content">
  <input type="submit" value="Submit">
</form>


<!--<form method="POST" action="/articles">-->
<!--  <label for="Article_Title">Article Title:</label><br>-->
<!--  <input id="Article_Title" type="text" name="title">-->
<!--  <label for="Article_Content">Article Content:</label><br>-->
<!--  <input id="Article_Content" type="text" name="content">-->
<!--  <input type="submit" value="Submit">-->
<!--</form>-->
